@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body
{
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    color: #222;
}

.active
{
    text-decoration: underline;
}

a 
{
    text-decoration: none;
    color: #444;
}

p
{
    font-size: 12px;
    color: #6D6D6D;
}

h3
{
    margin: 0px;
    font-size:  14px;
    font-weight: bold;
}

.screen-height
{
    min-height: calc(100vh - 60px);
}

.screen-width
{
    width: 100vw;
}

.full-width
{
    width: 100%;
}

.full-height
{
    height: 100%;
}

.margin-top
{
    margin-top: 15px;
}

.wrap
{
    flex-wrap: wrap;
}

.col-flex
{
    display: flex;
    flex-direction: column;
}

.row-flex
{
    display: flex;
    flex-direction: row;
}

.justify-center
{
    justify-content: center;
}

.align-center
{
    align-items: center;
}

.row-gap
{
    row-gap: 20px;
}

.col-gap
{
    column-gap: 20px;
}

.col-gap-10
{
    column-gap: 10px;
}

#topbar
{
    top: 0;
    column-gap: 4vw;
    position: fixed;
    height: 60px;
    background-color: white;
    z-index: 10;
}

#topbar a
{
    font-weight: bold;
    color: #222;
}

#sections
{
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 60px;
    overflow-y: scroll;
}

#about
{
    align-items: flex-start;
}

#profile-image
{
    background-image: url("../img/profile.png");
    background-color: white;
    background-repeat: repeat;
    background-size: 37%;
    background-position: -3px -2px;
    opacity: 0.85;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

#left-container
{
    font-size: 14px;
    max-width: 300px;
}

#left-container a
{
    color: #666;
}

#left-container th
{
    font-size: 12px;
    text-align: left;
    min-width: 80px;
    vertical-align: top;
}

#left-container td
{
    font-size: 12px;
    color: #666;
}

#right-container
{
    max-width: 400px;
}

.service
{
    max-width: 300px;
}

.service .title
{
    height: 55px;
}

.service img
{
    height: 40px;
}

.service label
{
    margin-right: 40px;
}

.experience
{
    max-width: 400px;
    min-width: 300px;
}

.project
{
    display: flex;
    font-size: 14px;
    column-gap: 15px;
}

.project .logo
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    min-width: 96px;

}

.project img
{
    width: 72px;
}

.project .title
{
    font-weight: bold;
}

.project p
{
    max-width: 400px;
}

.talk
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
}

.justify
{
    text-align: initial;
}

@media only screen and (max-width: 680px) {
    .justify
    {
        text-align: justify;
        text-justify:newspaper;
    }
}